#text-input {
  height: 2rem;
  width: 80%;
  padding: 5px 15px;
  border: 1px solid rgb(128, 128, 128);
  color: rgb(89, 89, 89);
  border-radius: 5px;
  font-size: 18px;
  box-sizing: border-box;
}

#submit {
  margin-top: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 242);
  background-color: rgb(18, 78, 138);
  font-size: 1rem;
}
